/* 
Font: Roboto
Dark background for hero and footer: #1F2937 [x]
Hero Main Text 'this website is awesome' 48px #F9FAF8 weight: 900 [x]
Hero secondary text, header link text: 18px #E5E7EB
Hero Logo Text: 24px #F9FAF8

--
Button color, call to action background color: #3882F6
Information header text: 36px #F12937 weight: 900
--
Quote section bg color: #E5E7EB
Quote text: 36px light italic #1F2937
*/

body {
    font-family: "Roboto", sans-serif;
}

.main {
    background-color: #1F2937;
    color: #fff;
}

/* Navbar */
.header {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    color: #F9FAF8;
}

.headerlinks ul {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.headerlinks ul li {
    list-style: none;
}

.headerlinks ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px;
}

.left {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    flex: 1;
}

.left h1 {
    font-size: 48px; 
    color: #F9FAF8; 
    weight: 900

}

.left p {
   font-size: 18px;
    color: #E5E7EB;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.image-container {
    background-color: rgb(165, 165, 165);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

/* Random information section */

/* Quote */
.quote-container {
    background-color: #E5E7EB;
}